<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>SQRL</title>
    <link rel="stylesheet" type="text/html" href="{% static "css/app.css" %}">
</head>
<body>
    <h1>SQRL: So simple, a squirrel could do it!</h1>
    <h3>How to log in</h3>
    <p>1. Scan this</p>
    {% if qrcodeurl %}
    <img src="{% static qrcodeurl %}" />
    {% else %}
    <img src="{% static "squirrel.jpg" %}" />
    {% endif %}
    <p>2. Wait...</p>
    <p>3. Click this button</p>
    <div class="buttonHolder">
        <button>Let me in!</button>
    </div>
</body>
</html>